<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.adityaarya.catch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>catch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
			<key>CFBundleAlternateIcons</key>
			<dict>
				<key>CatchMonochrome</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchMonochrome</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchWhiteBlack</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchWhiteBlack</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchCoral</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchCoral</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchChromatic</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchChromatic</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchBlueVintage</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchBlueVintage</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchOrangeVintage</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchOrangeVintage</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>CatchDiscomorphism</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>CatchDiscomorphism</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
			</dict>
		</dict>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Catch uses your location to show nearby bus stops and estimate walking time while you use the app.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>datamall2.mytransport.sg</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
